################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Marajoara.Cinema.Management/.vs/Marajoara.Cinema.Management/DesignTimeBuild/.dtbcache.v2
