<div class="form-container">
  <form (ngSubmit)="submit(formDir)" [formGroup]="changePasswordForm" #formDir="ngForm">
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Senha atual:</mat-label>
        <input type="password" autocomplete="false" matInput placeholder="Senha atual" formControlName="oldPassword"
          required />
        <mat-error *ngIf="oldPassword.invalid && oldPassword.errors?.['required']">Senha atual é obrigatório</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Nova senha:</mat-label>
        <input type="password" autocomplete="false" matInput placeholder="Nova senha" formControlName="newPassword"
          required />
        <mat-error *ngIf="newPassword.invalid && newPassword.errors?.['required']">Nova senha atual é obrigatório
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Confimar nova senha:</mat-label>
        <input type="password" autocomplete="false" matInput placeholder="Confimar nova senha"
          formControlName="confirmPassword" required />
        <mat-error *ngIf="confirmPassword.invalid && !confirmPassword.hasError('equalsTo') && !confirmPassword.hasError('required')">
          Confirmação da senha está diferente
        </mat-error>
        <mat-error *ngIf="confirmPassword.invalid && confirmPassword.errors?.['required']">
          Confimar nova senha atual é obrigatório
        </mat-error>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="button-flex-container">
      <button mat-raised-button color="primary">Salvar</button>
      <button mat-raised-button (click)="cancel()" type="button" color="basic">
        Cancelar
      </button>
    </div>
  </form>
</div>
