.checkbox-container{
    background-color: #f0f0f0;
    border-radius: 5px 5px 0px 0px;
    padding: 15px 0 0 15px;
    border-bottom: 1px solid #777;
    margin-bottom: 15px;
    &:hover{
        border-bottom: 2px solid black ;
    }
}

.checkbox-margin {
  margin-right: 15px;
}

.poster-container {
  display: inline-block;
  margin-bottom: 1em;
  width: 325px;
}
mat-card img {
  width: auto;
  margin-top: 0.1em;
  margin-bottom: 0;
  display: inline-block;
  max-width: 450px;
}
.mat-card-content {
  margin: 0;
}

.poster-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;    
}

.form-group-flex-row mat-checkbox {
  margin-bottom: 15px;
}

.button-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.mat-raised-button {
  margin: 5px;
  min-width: 120px;
}
.form-container {
  overflow-x: hidden;
}
