<div class="wrapper">
  <mat-toolbar *ngIf="user" class="header" color="primary">
    <button class="menu-button" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleSideNav()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>{{ title }}</span>
  </mat-toolbar>
  <mat-sidenav-container class="container">
    <mat-sidenav *ngIf="user" #sidenav mode="side" opened class="sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="/in-theater">Em Cartaz</a>
        <a mat-list-item routerLink="/sessions">Sessões</a>
        <a mat-list-item routerLink="/movies">Filmes</a>
        <a mat-list-item routerLink="/cinerooms">Salas</a>
        <a mat-list-item routerLink="/users">Usuários</a>
        <a mat-list-item routerLink="/tickets">Tickets</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="progress-bar-wrapper" *ngIf="loadingService.loading$ | async as loading">
        <mat-progress-bar color="warn" class="" mode="indeterminate" value="100"></mat-progress-bar>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar *ngIf="user" class="footer" color="primary">
    <p><span class="footer-span">Marajoara</span> &copy; 2022</p>
  </mat-toolbar>
</div>