<div class="login-container">
    <div class="login-content">
        <mat-toolbar class="login-toolbar" color="primary">Cine Marajoara</mat-toolbar>
        <!-- <mat-card> -->
            <div class="form-wrapper">
        <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
            <mat-form-field appearance="fill">
                <mat-icon matPrefix color="primary">person_outline</mat-icon>
                <mat-label>Email:</mat-label>
                <input autofocus type="text" matInput placeholder="Email" formControlName="mail">
                <mat-error *ngIf="mail.hasError('email') && !mail.hasError('required')">
                    Endereço de e-mail está inválido!
                </mat-error>
                <mat-error *ngIf="mail.hasError('required')"> O e-mail é obrigatório </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="fill">
                <mat-icon color="primary" matPrefix>lock_outline</mat-icon>
                <input type="password" autocomplete="false" matInput placeholder="Password" formControlName="password">
                <mat-error *ngIf="password.invalid && password.errors?.['required']">A senha é obrigatória
                </mat-error>
            </mat-form-field>
            <mat-divider></mat-divider>
            <div class="submit-container">
                <button type="submit" mat-raised-button color="primary">Login</button>
            </div>
        </div>
        </form>
        <mat-divider></mat-divider>        
        
        <p class="text-center text-bold">Logar com</p>
        <div class="social-media-flex">
            
            <button mat-stroked-button color="primary">facebook</button>
            <button mat-stroked-button color="accent">google</button>
        </div>
        <br>
        <div class="text-center">
            <span > Se ainda não tem uma conta <a routerLink='/register'> Registre-se aqui</a></span>
        </div>
        <!-- </mat-card> -->
    </div>
    </div>
</div>